.cart-item {
    background-color: #e9efec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.8rem 0.5rem;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    font-size: 16px;
    box-shadow: -3px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    .item-desc {
      h2 {
        color: rgb(67, 118, 120);
      }
      p {
        margin-top: 4px;
        width: fit-content;
        font-size: 18px;
        font-weight: bold;
        color: rgb(0, 0, 0, 0.8);
        padding: 0 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
    .item-control-btns {
      input {
        width: 60px;
        padding: 5px 0;
        border: 2px solid #999;
        text-align: center;
        margin-left: 8px;
        caret-color: transparent;
        border-radius: 5px;
        font-size: 18px;
        font-weight: bold;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:focus {
          outline: none;
          caret-color: black;
        }
      }
      .remove-btn {
        cursor: pointer;
        color: white;
        border: none;
        background-color: #092532;
        padding: 7px;
        font-size: 16px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover {
          background-color: #628d7c;
        }
      }
    }
  }