.helpLayout {
  color: white;
  width: 100%;
  text-align: center;
  .help-header-text {
    margin-top: 3rem;
  }
  .search-icon {
    position: relative;
    left: 40px;
    top: 5px;
    color: gray;
    font-size: 24px;
  }
  .help-input {
    width: 40%;
    height: 55px;
    font-size: 20px;
    border: 2px gray solid;
    text-indent: 55px;
    margin-top: 3rem;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
  .featured-articles {
    margin-top: 3rem;
    color: gray;
    .fa-header {
      position: relative;
      width: fit-content;
      margin-inline: auto;
      &::before {
        content: "";
        position: absolute;
        top: 11px;
        left: 150px;
        width: 500px;
        height: 1.5px;
        background-image: linear-gradient(to right, #0d0e25, #000319);
      }
      &::after {
        content: "";
        position: absolute;
        top: 11px;
        right: 150px;
        width: 500px;
        height: 1.5px;
        background-image: linear-gradient(to left, #0d0e25, #000319);
      }
    }
    .fa-articles {
      list-style: none;
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      line-height: 25px;

      li {
        width: 15%;
        p {
          &.fa-article-head {
            font-weight: bold;
            color: white;
          }
        }
      }
    }
    .help-icons {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      gap: 2rem;
      list-style: none;
      li {
        border: 1px #0d0e25 solid;
        width: 200px;
        padding: 3rem;
        a {
          font-size: 50px;
          color: gray;
        }
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        &:hover{
            color: white;
            cursor: pointer;
        }
    }
    }
  }
}

@media (max-width: 767px) {
  .helpLayout{
    .help-header-text {
      margin-top: 6rem;
    }
    .help-input{
      width: 80%;
    }
    .featured-articles{
    .fa-header {
      &::before {
      width: 100%;
      background-image: linear-gradient(to right, #0d0e25 ,  #000319  );
      }
      &::after {
      width: 100%;
      }
    }
      .fa-articles {
        flex-wrap: wrap;
        li{
          width: 35%;
        }
      }
      .help-icons {
      flex-wrap: wrap;
      text-align: center;
      li{
        width: 35%;
        padding: 1rem;
      }
      }
    }
  }
}
@media (max-width: 991px) {
  .helpLayout{
    .help-input{
      width: 70%;
    }
  }
}