.about {
  display: flex;
  width: 80%;
  margin-inline: auto;
  padding: 0 4rem;
  color: white;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ddd;
  h1 {
    text-align: center;
    color:rgb(111, 177, 180);
    font-size: 90px;
    font-weight: 200;
    letter-spacing: -0.1em;
  }
}

@media (max-width: 767px) {
  .about{
    margin-top: 4rem;
    width: 90%;
    padding: 0 1rem;
  }
}