.users-comments-area {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  .users-comments {
    width: 100%;
    padding: 0 1rem;
    max-height: 350px;
    display: flex;
    flex-flow: column wrap;
    gap: 30px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  h1 {
    width: 100%;
    span {
      color: #cbacf9;
    }
  }
  .comment-btn {
    width: 200px;
    margin-inline: auto;
    padding: 1rem;
    background: linear-gradient(to bottom, #0000007a, #080a233a);
    color: white;
    border: 0.5px solid #cccccc18;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}
